@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-image:url(backgrd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    
}
.box{
    background-image: linear-gradient(to right, #e04083, #de3161);
   opacity:0.65;
    width:17rem;
    height:26rem;
   border-radius:0.4rem;
   margin:25px auto 0;
   Padding-top:1.5px;
   padding-left:25px;
   padding-right:25px;
   margin-top:1px;
   
   
}
h1{
    padding-top:-0.5rem;
    color:white;
    font-size:1.2rem;
    font-family: "Source Sans 3", serif;
    
}
p{
    text-align:left;
    color:white;
    font-size:1.2rem;
}
h2{
    text-align:right;
    font-family: "Source Sans 3", serif;
     font-weight:600;
     font-size:1.25rem;
     
}
.btn{
    font-family: "Roboto", serif;
    font-size:1.25rem;
    font-weight;900;
}
.ph{
    font-weight:900;
    font-size: 1.25rem;
    font-family: "Source Sans 3", serif;
}
.psw{
    
font-weight:900;
    font-size: 1.25rem;
    font-family: "Source Sans 3", serif;
}
    